<div class="" id="box">
<div class="{{state.color}}" id="container">
  <div class="" id="warper">
    <div class="" id="container-head">
      <h1 class='' ng-if='state.color=="green"'>Room free</h1>
      <h1 class='' ng-if='state.color!="green"'>{{main.summary===undefined ? "Someone forgot the title" : main.summary | limitTo:25}}{{main.summary.length > 20 ? '...' : ''}}</h1>
      <div class='' ng-if='!main.allday&&state.color!="green"'>
        <p>From <strong>{{main.start | date:'H:mm'}}</strong> to <strong>{{main.end | date:'H:mm'}}</strong></p>
      </div>
      <div class='' ng-if='main.allday&&state.color!="green"'>
        <p>All day event</p>
      </div>
      <div class='' ng-if='state.color!="green"'>
        <p>Created by {{main.creator.length > 24 ? 'GreenRobot' : main.creator}}</p>
      </div>
    </div>
    <div class="" id="container-buttons">
      <button name="book-button" ng-if="state.quickBook" ng-disabled="state.quickBook" type="button">BOOK THE ROOM</button>
      <div ng-if="state.color!='green'" class="button-warper">
      <button name="start-button" ng-disabled="state.startButton" type="button" ng-click="startEvent()">START</button>
      </div>
      <div ng-if="state.color!='green'" class="button-warper">
      <button name="stop-button" ng-disabled="state.stopButton" type="button" ng-click="endEvent()">CANCEL</button>
      </div>
    </div>
  </div>
</div>
<div class="" id="list">
  <div class="{{state.color}}-light" id="list-head">
  <h3>Next events</h3>
  </div>
  <ul id="ev">
    <li ng-repeat="event in list">
      <p>{{event.start | date:'H:mm'}} to {{event.end | date:'H:mm'}} - <strong>{{event.summary}}</strong></p>
    </li>
  </ul>
</div>
</div>
