<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="viewport" content="user-scalable=no, initial-scale=1">
    <meta name="apple-touch-fullscreen" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta http-equiv='cache-control' content='no-cache'>
    <meta http-equiv='expires' content='0'>
    <meta http-equiv='pragma' content='no-cache'>
    <link href="css/style.css" rel="stylesheet" type="text/css">
    <script type='application/javascript' src='js/fastclick.js'></script>
    <script src="js/moment.js">
    </script>
    <script src="js/twix.js">
    </script>
</head>

<body ng-app="BtnApp" ng-controller="BtnCtrl">
    <div ng-if='currDevice[0].auth' id='container' layout="column" layout-fill>
        <div id='main' class='{{color}}' >
        <div layout="column" layout-fill layout-align="center center">
        <h1 ng-if='state=="noevent"' class='md-display-2'>Room free</h1>
        <button ng-if='state!="noevent"' class='md-raised' ng-disabled='state=="confirmed"' ng-click='state=="confirmed"||startEvent()' style="width:98%"><h1 class='md-display-2'>Start Event</h1></button>
        <button ng-if='state!="noevent"' class='md-raised' ng-click='endEvent()' style="width:98%"><h1 class='md-display-2'>{{state=="confirmed" ? "End" : "Cancel"}} Event</h1></button>
        </div>
      </div>
    </div>


    <!-- Angular Material Dependencies -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-animate.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-aria.min.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-touch.js"></script>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.7/angular-cookies.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angular_material/0.11.4/angular-material.min.js"></script>
    <script src="js/script.js"></script>
    </script>
</body>

</html>
